@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is our Project for a page like Kick Starter</p><br/>

<div>
    <p>Team members:</p><br/>
    <p>Costas Perissis</p>
    <p>Aggelos Lagopoulos</p>
    <p>Elena Melaxrinou</p>
    <p>Xristos Zigouras</p>
</div>
<img src="~/images/teamfoto3.jpg" alt="Visual Studio" class="img-responsive" />
