@model CFProject_T6.Models.ProjectsCreation

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Projects</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project.Title" class="control-label"></label>
                <input asp-for="Project.Title" class="form-control" />
                <span asp-validation-for="Project.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Descr" class="control-label"></label>
                <input asp-for="Project.Descr" class="form-control" />
                <span asp-validation-for="Project.Descr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Goalfunds" class="control-label"></label>
                <input asp-for="Project.Goalfunds" class="form-control" />
                <span asp-validation-for="Project.Goalfunds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.CategoryId" class="control-label"></label>
                <select asp-for="Project.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Project.StartDate" class="control-label"></label>
                <input asp-for="Project.StartDate" class="form-control" />
                <span asp-validation-for="Project.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.EndDate" class="control-label"></label>
                <input asp-for="Project.EndDate" class="form-control" />
                <span asp-validation-for="Project.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Donation Amount</label>
                <input asp-for="Packages.DonationUpperlim" class="form-control" />
                <span asp-validation-for="Packages.DonationUpperlim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Packages.Reward" class="control-label"></label>
                <input asp-for="Packages.Reward" class="form-control" />
                <span asp-validation-for="Packages.Reward" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" type="file" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
