@model CFProject_T6.Models.ProjectCategory

@{
    ViewData["Title"] = "MyFundedProjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyFundedProjects</h2>

<div class="row">
    @foreach (var item in Model.Projects)
    {
        <div class="col-md-4 portfolio-item">
            <a href="@Url.Action("SingleItem", "Portfolio")">
                <img src="@Url.Content($"{item.Photo?.Filename ?? "teamfoto3.jpg"}")" class="img-responsive">
            </a>
            <h3>
                @Html.ActionLink(item.Project.Title, "SingleItem", "Portfolio")
            </h3>
            <p>@item.Project.Descr</p>
        </div>
    }
</div>
