@model CFProject_T6.Models.Updates

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Updates</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Description
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descr)
        </dd>
        <dt>
            Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt>
            Project
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Descr)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
